
/* 使用 Roboto 作为默认字体，Open Sans 作为备用 */
body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

/* 针对标题和不同的文本可以选择更粗或更细的字重 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p, a, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
